@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-medium;
}

body {
  @apply bg-[#f0f0f0];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}
h4 {
  @apply text-base;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-[10px];
}
.center {
  @apply mx-auto sm:container sm:px-5;
}
.btn-primary {
  @apply bg-primary text-white px-4 rounded-sm font-semibold shadow-sm;
}
.btn-primary-outline {
  @apply bg-transparent text-primary border border-primary px-4 rounded-sm font-semibold shadow-sm hover:bg-primary hover:text-white transition-colors;
}
.btn-danger {
  @apply bg-red-200 text-red-600 px-4 rounded-sm font-semibold shadow-sm;
}
.btn-default,
.btn-red,
.btn-outline {
  @apply px-4 py-1 rounded-sm;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-default {
  @apply bg-white text-gray-800 border border-gray-200 shadow-sm;
}
.btn-outline {
  @apply bg-transparent text-white border border-gray-200 shadow-sm;
}
table.basic {
  @apply w-full text-left bg-white shadow-sm rounded-sm;
}
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase;
}
table.basic tbody tr td {
  @apply border-t border-gray-200;
}
table.basic tbody tr td,
table.basic thead tr th {
  @apply px-1 md:px-4 py-1;
}
table.basic a {
  @apply px-1 md:px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
input,
textarea,
select {
  @apply border border-gray-200 rounded-sm py-2 w-full mb-2 shadow-sm px-1 md:px-1;
}
input:focus,
textarea:focus,
select:focus {
  @apply outline-none border-blue-900;
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}